body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

header {
    background-color: #ecd5d5;
    color: #050213;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 10px;
    height: 3px;
    background-color: #ecd5d5;
    margin: 3px 0;
    transition: 0.4s;
}

.navbar {
    display: flex;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    padding: 1px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.menu a:hover {
    color: yellow;
}

.container__imagem {
    width: 50px;
    height: auto; 
}
.Logotipo {
    width: 20px;
    height: flex;
}


@media (max-width: 100px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px; 
        left: 0;
        background-color: #333;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e7c5c5;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.navbar {
    display: flex;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.menu a:hover {
    color: yellow;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .navbar {
        display: none;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px; /* Ajuste conforme necessário */
        left: 0;
        flex-direction: column;
        align-items: center;
    }

    .navbar.active {
        display: flex;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu li {
        margin: 10px 0;
    }
}
