body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

header {
    background-color: #ecd5d5;
    color: #050213;
    padding: 10px 20px;
    display: auto;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 10px;
    height: 3px;
    background-color: #ecd5d5;
    margin: 3px 0;
    transition: 0.4s;
}

.navbar {
    display: flex;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    padding: 1px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.menu a:hover {
    color: yellow;
}

.container__imagem {
    width: 50px;
    height: auto; /* Ajustado para manter a proporção */
}
.Logotipo {
    width: 20px;
    height: auto;
}


@media (max-width: 100px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px; /* Ajuste conforme necessário */
        left: 0;
        background-color: #333;
    }
}